
<div class="chat-box">
<div class="messages">
  <div *ngFor="let message of ReceivedMessages"  class="message">
    <div *ngIf="currentUser?.id == message.senderId">
      <img [src]="currentUser?.portraitUrl" class="portraits-of-users">
      <span >{{ currentUser?.userName}}</span>
    </div>
    <div *ngIf="currentUser?.id == message.receiverId">
      <img [src]="receiverUser?.portraitUrl" class="portraits-of-users">
      <span >{{ receiverUser?.userName}}</span>
    </div>
   <span>{{ message.message}}</span>
  </div>
</div>
</div>
<div>
  <h2>Send a Message:</h2>
  <input [(ngModel)]="messageToSend" placeholder="Type a message" />
  <button (click)="sendMessage()">Send</button>
</div>
