<input [(ngModel)]="term">

<p *ngIf="loading">Loading</p>
<!--<div *ngIf="tournaments$ | async as tournaments">-->

<!--  <app-tournament-->
<!--    *ngFor="let tournament of tournaments | filterTournaments : term"  [tournament] = "tournament">-->
<!--  </app-tournament>-->
<!--</div>-->
<div *ngIf="loading">Загрузка...</div>
<div *ngIf="!loading">
  <ul>
    <li *ngFor="let tournament of tournaments$ | async">
      <h2>{{ tournament.name }}</h2>
      <p>{{ tournament.prizePool }}</p>
      <!-- Другие поля из модели турнира -->
    </li>
  </ul>
</div>
