<app-loading *ngIf="!CurrentUser"></app-loading>
<div>
  <img [src]="CurrentUser.portraitUrl"/>
  <div>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Имя Пользователя на сайте</label>
        <input type="text" id="userName" name="userName"
               [(ngModel)]="UserName"
               value="{{UserName}}"
               required>
      </div>
      <div class="form-group">
        <label for="fullName">Настоящее Имя Пользователя</label>
        <input type="text" id="fullName" name="fullName"
               [(ngModel)]="CurrentUser.fullName" value="{{CurrentUser?.fullName}}"
        >
      </div>

      <div class="form-group">
        <label for="email">Ваш Email</label>
        <input type="text" id="email" name="email"
               [(ngModel)]="CurrentUser.email"
               value="{{CurrentUser?.email}}"
        >
      </div>
      <div class="form-group">
        <label for="MainRace">Основная раса</label>
        <input type="text" id="MainRace" name="MainRace"
               [(ngModel)]="CurrentUser.MainRace"
               value="{{CurrentUser?.MainRace}}"
        >
      </div>
      <div class="file-input-wrapper">
        <label class="file-input-label" for="fileInput">{{CurrentUser.bannerUrl ? 'Выбрать другой файл' : 'Выбрать файл'}}</label>
      <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)">
      </div>
      <div class="banner-wrapper">
      <img *ngIf="CurrentUser.bannerUrl" [src]="CurrentUser.bannerUrl" class="BannerImg">
      </div>
        <button  type="submit">Обновить данные</button>
    </form>
  </div>
  <div class="ContainerForPortraits">
    <h3>Выберите портрет</h3>
  <div class="image-table-portraits">
    <div *ngFor="let portrait of Portraits" class="image-cell-portraits" >
      <div class="portrait-wrapper">
        <img class="PortraitImg" [src]="portrait.url" alt="Portrait" (click)="setPortraitImg(portrait)"/>
      </div>
    </div>
</div>
  </div>
</div>
