<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .tournament-image {
      width: 300px;
    }
    .button-style {
      background-color: #fcd34d;
    }
    .button-style.active {
      background-color: #3490dc;
    }
  </style>
</head>
<body>
<header></header>
<main>
  <!-- Отображение изображения турнира и его имени -->
  <img [src]="tournament?.avatar" class="tournament-image" />
  {{tournament?.name}}

  <!-- Кнопка для скрытия/показа дополнительной информации -->
  <button
    (click)="toggleAdditionalInfo()"
    [ngClass]="{'button-style': !showAdditionalInfo, 'button-style active': showAdditionalInfo}"
  >
    {{ showAdditionalInfo ? 'Скрыть информацию' : 'Показать информацию' }}
  </button>

  <div *ngIf="showAdditionalInfo">
    {{tournament?.prizePool}}
  </div>
</main>
