<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header></header>
<main><img [src] = "tournament?.avatar" style="width: 300px"/>
  {{tournament?.name}}</main>
<button
  (click)="KostianchickBrotik = !KostianchickBrotik"
[ngClass]="{
'bg-yellow-400': !KostianchickBrotik,
'bg-blue-400': KostianchickBrotik
}"
>
  {{KostianchickBrotik ? 'hide' : 'show'}} GOgoGO plAYing TOpiCK
</button>
<div *ngIf="KostianchickBrotik">{{tournament?.prizePool}}</div>
</body>
</html>
