<div class="Container">
  <div class="main-container">
    <form (submit)="onSubmit()">
  <div class="form-group">
    <label for="name">Tournament Name:</label>
    <input type="text" id="name" name="name" [(ngModel)] = "tournament.name" value="{{tournament?.name}}" required >
  </div>
  <div class="form-group">
    <label for="prizePool">Prize Pool:</label>
    <input type="text" id="prizePool" name="prizePool" [(ngModel)] = "tournament.prizePool" value="{{tournament?.prizePool}}">
  </div>
  <div class="file-input-wrapper">
    <label for="avatar" class="file-input-label">{{tournament.avatar ? 'Выбрать другой файл' : 'Выбрать файл'}}</label>
    <input type="file"  id="avatar"  class="file-input" (change)="onFileSelected($event)">
    <div class="banner-wrapper">
      <img *ngIf="tournament.avatar"  [src]="tournament.avatar" class="BannerImg">
    </div>
  </div>
   <button  *ngIf="isCreating" type="submit" class="create-button">{{!isCreating ? 'Обновить турнир' : 'Создать турнир'}}</button>
</form>
</div>
</div>
