<div class="Container">
  <div class="main-container">
    <form (submit)="onSubmit()">
  <div class="form-group">
    <label for="name">Название команды: </label><br/>
    <input type="text" id="name" name="name" placeholder="Введите название команды"
           [(ngModel)]="team.name" value="{{team?.name}}">
  </div>
  <div class="file-input-wrapper">
    <label for="avatar" class="file-input-label">{{team.avatar ? 'Выбрать другой файл' : 'Выбрать файл'}}</label>
    <input type="file" id="avatar" class="file-input" (change)="onFileSelected($event)">
    <div class="banner-wrapper">
      <img *ngIf="team.avatar" [src]="team.avatar"  class="BannerImg">
    </div>
  </div>
  <button class="create-button" *ngIf="isCreating" type="submit" >Создать команду</button>
  <button class="create-button" *ngIf="!isCreating" type="submit" >Обновить данные команды</button>
</form>
</div>
</div>
