<app-modal-window></app-modal-window>
<div class="MainContainer">
<div class="NavContainer">
  <nav class="NavBar">
    <a  class="Link" routerLink="">Home</a>
    <a [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
       routerLink="tournaments" appShowModalWindow>Tournaments</a>
    <a [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
        routerLink="users" appShowModalWindow>Users</a>
    <a [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
        routerLink="teams" appShowModalWindow>Teams</a>
    <a
      [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
       routerLink="about" appShowModalWindow>About</a>
    <a
      [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
       routerLink="create-tournament" appShowModalWindow>Create Tournament</a>
    <a
      [ngClass]="{'Link': true, 'inactive-link' : !isAuth}"
      routerLink="create-team" appShowModalWindow>Create Team</a>
    <a *ngIf="!isAuth" class="Link" routerLink="registration">Registration</a>
    <a *ngIf="!isAuth" class="Link" routerLink="login">Login</a>
  </nav>
  <div *ngIf="currentUser" class="wrapper-user-data" [routerLink]="['/users', currentUser?.id]">
    <img [src]="currentUser?.portraitUrl" class="navigation-user-portrait"/>
    <span class="navigation-user-name">{{currentUser?.userName}}</span>
    <button *ngIf="isAuth" (click)="Logout()" class="logout-button">Выйти</button>
  </div>
</div>
</div>

