.NavContainer {
  background-color: #4b4b97;
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid black;
}
.NavBar {

display: flex;
  justify-content: flex-start;
}
.Link {
  color: aliceblue;
  text-decoration: none;
  margin-right: 30px;
  font-size: large;
}
.Link:hover {
  text-decoration: underline;
}
.inactive-link {
  color: #888;
  text-decoration: none;
  cursor: default;
  //pointer-events: none; // запрет на взаимодействие с клиентом
 }
.inactive-link:hover {
  text-decoration: none;
}
